---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
    
    {% if page.video-id %}
    {% include youtube-embed.html param=page.video-id %}
      <br>
      <a href="https://www.youtube.com/watch?v={{page.video-id}}"> YouTube Link</a>  
      <br>    
    {% endif %}
  <br>

    
    {% if page.sc-link %}
      <a href="{{page.sc-link}}">soundcloud</a>
      <br>
    {% endif %}
    
    {% if page.mp3-path || page.flac-path %}
      Download it: 
    {% endif %}
      
    {% if page.mp3-path %}
      <a href="{{site.basedl}}{{page.mp3-path}}">MP3</a> or 
    {% endif %}
    
    {% if page.flac-path %}
      <a href="{{site.basedl}}{{page.flac-path}}">FLAC</a>
    {% endif %}
    

  </div>

</article>
